{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}
<div class="container mt-4 bg-dark">
    <h1 class="text-white">Liste des Utilisateurs</h1>
    <div class="card bg-dark text-white border-secondary mb-4">
        <div class="card-body">
            <table class="table table-dark table-hover border-secondary">
        <thead>
            <tr>
                <th class="text-white">Nom</th>
                <th class="text-white">Email</th>
                <th class="text-white">Rôle</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles|join(', ') }}</td>
                </tr>
            {% endfor %}
        </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
